html {
  height: 100%;
}
body {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.output_canvas {
  border-radius: 10%;
}

.video_container .input_video {
  display: none;
}

.video_container {
  position: relative;
}

.btn_container {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 1280px;
}

.upper_btn {
  top: 0px;
}

.lower_btn {
  bottom: 0px;
}

.btn {
  width: 300px;
  height: 300px;
  /*폰트에 영향없이 투명 배경 만드는법*/
  background-color: rgba(0, 0, 0, 0.3);
}

.btn:active {
  background-color: antiquewhite;
}

.clicked {
  background-color: red;
}

.btn:hover {
  background-color: blue;
}
