html {
  height: 100%;
  margin: 0;
  background-color: #1f1f1f;
}
body {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-image: url("img/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
}

.main {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0px;
}

.video_container .input_video {
  display: none;
}

.video_container {
  position: relative;
  top: 5%;
}

.btn_container {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  padding: 0px 2% 0px 2%;
}

.upper_btn {
  top: 0px;
}

.lower_btn {
  bottom: 0px;
}

.btn {
  width: 16%;
  height: 83.2%;
  /*폰트에 영향없이 투명 배경 만드는법*/
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  border-radius: 20%;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

#left_top {
  background-image: url(img/records/record_BASS.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#right_top {
  background-image: url(img/records/record_DRUM.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#left_bottom {
  background-image: url(img/records/record_PIANO.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#right_bottom {
  background-image: url(img/records/record_VOCAL.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/*클릭시 classList로 추가되는 클래스 이름*/
.clicked {
  background-color: rgba(0, 0, 0, 0.2);
}

#canvas1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 9%;
  height: 53%;
}

#canvas2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 9%;
  height: 53%;
}

#dog {
  position: absolute;
  width: 23%;
  bottom: 11%;
}

.record {
  position: absolute;
  top: 70%;
  width: 7%;
  height: 20%;
}

#start {
  left: 20%;
}

#stop {
  left: 30%;
}
